/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3rem;
  /*========== Colors ==========*/
  --hue: 15;
  --sat: 98%;
  --first-color: hsl(var(--hue), var(--sat), 60%);
  --first-color-light: hsl(var(--hue), var(--sat), 85%);
  --first-color-lighten: hsl(var(--hue), var(--sat), 80%);
  --first-color-alt: hsl(var(--hue), var(--sat), 53%);
  --title-color: hsl(var(--hue), 4%, 15%);
  --text-color: hsl(var(--hue), 4%, 35%);
  --text-color-light: hsl(var(--hue), 4%, 65%);
  --body-color: hsl(var(--hue), 0%, 100%);
  --container-color: #FFF;
  --scroll-bar-color: hsl(var(--hue), 4%, 85%);
  --scroll-thumb-color: hsl(var(--hue), 4%, 75%);
  /*========== Font and typography ==========*/
  --body-font: 'Poppins', sans-serif;
  --biggest-font-size: 2rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;
  /*========== Font weight ==========*/
  --font-semi-bold: 600;
  --font-bold: 700;
  /*========== Margenes ==========*/
  --mb-0-5: .5rem;
  --mb-0-75: .75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

@media screen and (min-width: 968px) {
  :root {
    --biggest-font-size: 3rem;
    --h2-font-size: 1.75rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

/*=============== BASE ===============*/
*, ::before, ::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: var(--text-color);
  transition: .5s;
}

h1, h2, h3 {
  font-weight: var(--font-semi-bold);
  color: var(--title-color);
  line-height: 1.5;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: 50px;
  border-radius: 60%;
  float: left;
  margin: auto 5px;
}

/*=============== THEME ===============*/
/*========== Variables Dark theme ==========*/
body.dark-theme {
  --first-color-light: hsl(var(--hue), var(--sat), 75%);
  --title-color: hsl(var(--hue), 4%, 95%);
  --text-color: hsl(var(--hue), 4%, 80%);
  --body-color: hsl(var(--hue), 8%, 13%);
  --container-color: hsl(var(--hue), 8%, 16%);
  --scroll-bar-color: hsl(var(--hue), 4%, 32%);
  --scroll-thumb-color: hsl(var(--hue), 4%, 24%);
}


/*=============== REUSABLE CSS CLASSES ===============*/
.section {
  padding: 4.5rem 0 1rem;
}

.section__title, .section__title-center {
  font-size: 30px;
  color: black;
  text-align: center;
  margin-bottom: var(--mb-1);
}
.about__description {
  font-size: 10px;
  margin-bottom: var(--mb-2);
}

.sections__title {
  font-size: 30px;
  color: black;
  text-align:left;
  margin-bottom: var(--mb-1);
}

.svg__color {
  fill: var(--first-color);
}

.svg__blob {
  fill: var(--first-color-light);
}

.svg__img {
  width: 300px;
  justify-self: center;
}

/*=============== LAYOUT ===============*/
.container {
  max-width: 968px;
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.home {
  background-color: hsl(237deg 70% 61%);
}

/*=============== HEADER ===============*/
.header {
  width: 100%;
  background-color: hsl(237deg 70% 61%);
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  transition: .5s; 
}

/*=============== NAV ===============*/
.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#header .form-inline .btn{
  margin-right: 15px;
  display: inline-block;
  background-color: transparent;
  color: white;
  border: 1px solid #fff;
  border-radius: 8px;
  padding-left: 25px;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-right: 25px;
  text-align: center;
  margin-top: 4px 2px;
}

#header  .form-inline .btnn{
  display: inline-block;
  justify-content: space-between;
  background-color: #f76f00;
  border: white;
  color: white;
  padding-left: 15px;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-right: 15px;
  border-radius: 8px;
  text-decoration: none;
  font-size: 16px;
  margin-top: 4px 2px;
}


    @media (max-width: 991px) {
      #header .form-inline .btn {
    background-color: transparent;
    border: 2px solid #fff;
    cursor: pointer;
  }
}

@media (max-width: 991px) {
  #header .form-inline .btnn {
    color: white;
  }
}

@media screen and (max-width: 767px) {
  .nav__menu {
    position: fixed;
    background-color: var(--container-color);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
    padding: 2.5rem 0;
    width: 90%;
    top: -100%;
    left: 0;
    right: 0;
    margin: 0 auto;
    transition: .4s;
    border-radius: 2rem;
    z-index: var(--z-fixed);
  }
}

.nav__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1.5rem;
}

.nav__link, .nav__logo, .nav__toggle {
  color: #fff;
  font-weight: var(--font-semi-bold);
}

.nav__toggle {
  font-size: 1.3rem;
  cursor: pointer;
}

/* Show menu */
.show-menu {
  top: calc(var(--header-height) + 1rem);
}

/* Active link */
.active-link {
  position: relative;
}

.active-link::before {
  content: '';
  position: absolute;
  bottom: -.75rem;
  left: 45%;
  width: 5px;
  height: 5px;
  background-color: var(--title-color);
  border-radius: 50%;
}

.form-box{
  width: 440px;
  max-width: 100%;
  border:#fff;
  position: relative;
}

.form-box input {
  display: inline-block;
  width: 100%;
  padding-top: 18px;
  padding-bottom: 21px;
  padding-left: 15px;
  outline: none;
}

.form-box button{
  position: absolute;
  display: inline-block;
  outline: none;
  border: none;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 32px;
  padding-right: 32px;
  border-radius: 5px;
  background-color: #f76f00;
  color: #fff;
  margin-top: 8px;
  margin-bottom: 8px;
  right: 8px;
}

.form-box .icon {
display: inline-block;
padding: 10px;
color: white;
text-align: center;
top : 50%;
right: 8px;
}



/* Change background header */
.scroll-header {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}

/*=============== HOME ===============*/
.home__container {
  row-gap: 3rem;
}

.home__title {
  font-size: 45px;
  color:#fff;
  font-weight: var(--font-bold);
  margin-bottom: var(--mb-0-75);
}

.home__description {
  font-size: 12px;
  color: #fff;
  margin-bottom: var(--mb-2);
}

/*=============== BUTTONS ===============*/
.button {
  display: inline-block;
  background-color: var(--first-color);
  color: #1A1A1A;
  padding: .75rem 1.5rem;
  border-radius: 3rem;
  font-weight: var(--font-semi-bold);
  transition: .3s;
}

.button:hover {
  background-color: var(--first-color-alt);
}

.button__header {
  display: none;
}

.button-link {
  background: none;
  padding: 0;
  color: var(--title-color);
}

.button-link:hover {
  background-color: transparent;
}

.button-flex {
  display: inline-flex;
  align-items: center;
  column-gap: .25rem;
  padding: .75rem 1rem;
}

.zero{
  background-color: #f76f00;
  color: white;
  text-decoration: none;
  padding-top: 12px;
  padding-bottom: 13px;
  padding-left:10px;
  padding-right: 13px;
  border-radius: 8px;
}

/*=============== ABOUT ===============*/

.about{
  background-color: #fff;
}
.about__container {
  gap: 2.5rem;
}

.about__data {
  text-align: center;
}

/*=============== SECURITY ===============*/
.security__container {
  gap: 2.5rem;
}

.security__data {
  text-align: center;
}

/*=============== SERVICES ===============*/
.services__container {
  padding-top: 1rem;
}

.services__data {
  display: grid;
  row-gap: 1rem;
  background-color: var(--container-color);
  box-shadow: 0px 2px 6px hsla(var(--hue), 100%, 15%, 0.15);
  padding: 2rem 1.5rem;
  border-radius: 1rem;
  text-align: left;
}
.services__subtitle{
  font-size: 20px;
  color: black;
  text-align:left;
  margin-bottom: var(--mb-1);
}

.build{
  font-size: 40px;
  float: right;
  border-radius: 60px;
  background-color:hsl(237deg 70% 61%);
  color: #fff;
  margin-left: 21px;
  cursor: pointer;
}

.built{
  font-size: 40px;
  float: right;
  border-radius: 60px;
  color:hsl(237deg 70% 61%);
  border: 1px solid hsl(237deg 70% 61%);
  background-color: transparent;
  cursor: pointer;
}

 .built:hover {
background-color: transparent;
border-color: hsl(237deg 70% 61%);
cursor: pointer;
}

.butt {
  font-size: 45px;
  color: black;
  text-align: left;
  margin-bottom: var(--mb-1);
}

.services__description {
  font-size: 15px;
  color: black;
  text-align: left;
  margin-bottom: var(--mb-1);
}
.services__img {
  width: 135px;
  justify-self: center;
  margin-bottom: var(--mb-0-5);
}

.pricess__data{
  width: 100%;
  justify-content: space-between;
  text-align: center;
}

.pricing__title{
  text-align: center;
  padding: 10px;
}

.pricing__subtitle{
  font-size: 15px;
  text-align: center;
}

.price__subtitle{
  width: 530px;
  padding-left: 20px;
  text-align: left;
  padding: 12px;
  font-size: 15px;
}
.pricing__description{
   text-align: left;
   padding-left: 20px;
   font-size: 15px;
   line-height: 31px;
   padding: 12px;
}

.pric__subtitle {
  width: 530px;
  text-align: left;
  padding: 12px;
  font-size: 15px;
}

.pricings__description{
  text-align: left;
  word-spacing: 2px;
  font-size: 12px;
  line-height: 25px;
  padding: 12px;
}

.app__title {
  text-align: left;
}

.pic__description{
  right: 10px;
  padding-right: 12px;
}

.link__up{
  margin-left: 5px;
  color: orange;
}

.contact-me{
  width: 100%;
  height: 290px;
  background-color: hsl(237deg 70% 61%);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.contact-me h2{
  color: #fff;
}

.contact-me p{
  color: #fff;
  align-items: center;
  font-weight: bold;
  padding-top: 12px;
  margin-bottom: 25px;
}

.contact-me .button-two{
  background-color: #f76f00;
  color: white;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 13px 30px;
  border-radius: 8px;
  transition: .4s;
}

.contact-me .button-two:hover{
  background-color: transparent;
  border: 2px solid #fff;
  cursor: pointer;
}

.third-container {
  margin: 0 auto;
  display: flex;
  align-items: center;
  row-gap: 2rem;
  background-color:hsl(237deg 70% 61%);
  padding-bottom: 87px;
}

.right {
  float: right;
  margin-left: 220px;
}
 .title{
  margin-left: 450px;
  padding-left: 34px;
  margin-left: 130px;
  font-size: 30px;
  color: #fff;
}

.right li {
  display: flex;
  padding-top: 21px;
  align-items: center;
  list-style: none;
  line-height: 2;
}

.right .number {
  margin-left: 240px;
  font-size: 0.8rem;
  width: 30px;
  height: 30px;
  color: white;
  background: rgb(255, 115, 0);
  border-radius: 50px;
  text-align: center;
}

li h3{
  color: white;
  font-size: 20px;
  line-height: 3;
}

/*=============== APP ===============*/
.app__container {
  background-color: white;
  gap: 2.5rem;
}

.app__data {
  text-align: center;
}

.app__description {
  font-size: 10px;
  color:black;
  margin-bottom: var(--mb-1-5);
}

.app__buttons {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  justify-content: center;
  gap: .5rem;
}
.button__ico{
  background-color: #f76f00;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;

}

.button-flex{
  background-color: #f76f00;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.center {
  min-width: 240px;
  text-align: center;
}

.description{
  padding-top: 12px;
  padding-bottom: 10px;
  text-align: center;
}
/*=============== CONTACT ===============*/
.contact__container {
  background-color: var(--first-color-lighten);
  padding-bottom: 2rem;
  row-gap: 2rem;
}

.contact__title{
  text-align: center;
}

.contact__description {
  width: 450px;
  text-align: center;
  float:right;
}

.contact__content {
  row-gap: .75rem;
  float: left;
}

.contact__address {
  font-size: var(--small-font-size);
  font-weight: var(--font-semi-bold);
  color: var(--title-color);
}

.contact__information {
  font-weight: initial;
  color: var(--text-color);
}

/*=============== FOOTER ===============*/
.footer {
  padding-bottom: 2rem;
}

.footer__container {
  row-gap: 2rem;
}

.footer__logo, .footer__title {
  width: 230px;
  font-size: var(--h3-font-size);
  margin-bottom: var(--mb-0-75);
}

.footer__logo {
  display: inline-block;
  font-weight: var(--font-semi-bold);
  color: var(--title-color);
  padding: 21px;
}

.footer__description, .footer__link {
  width: 185px;
  font-size: var(--small-font-size);
}

.contact input{
  margin-top: 10px;
  padding: 10px;
}

.sender{
  background-color: #f76f00;
  border-radius: 8px;
  color:#fff;
  margin-top: 15px;
  padding: 10px;
  text-align: center;
  max-width: 111px;
}

.footer__links {
  display: grid;
  row-gap: .2rem;
}

.footer__link {
  color: var(--title-color);
}

.footer__social {
  padding-top: 45px;
  display: flex;
  column-gap: 1.5rem;
}

.footer__social-link {
  font-size: 1.25rem;
  color: var(--title-color);
}

.footer__copy {
  margin-top: 6rem;
  text-align: center;
  font-size: var(--smaller-font-size);
  color: var(--text-color);
}

/*=============== MEDIA QUERIES ===============*/
/* For small devices */
@media screen and (max-width: 360px) {
  .svg__img {
    width: 100%;
  }
  .section {
    padding: 3.5rem 0 1rem;
  }
  .services__img {
    width: 100px;
  }
  .app__buttons {
    grid-template-columns: max-content;
  }
}

/* For medium devices */
@media screen and (min-width: 576px) {
  .svg__img {
    width: 100%;
  }
  .section__title-center {
    text-align: initial;
  }
  .home__container,
  .about__container,
  .security__container,
  .services__container,
  .app__container,
  .contact__container,
  .footer__container {
    grid-template-columns: repeat(2, 1fr);
  }
  .home__img {
    order: 1;
  }
  .home__container,
  .about__container,
  .security__container,
  .app__container,
  .contact__container {
    align-items: center;
  }
  .about__data,
  .security__data,
  .app__data,
  .contact__description {
    text-align: initial;
  }
  .about__img,
  .app__img {
    order: -1;
  }
}

@media screen and (min-width: 767px) {
  body {
    margin: 0;
  }
  .section {
    padding: 6rem 0 2rem;
  }
  .nav {
    height: calc(var(--header-height) + 1.5rem);
  }
  .nav__list {
    flex-direction: row;
    column-gap: 2.5rem;
  }
  .nav__toggle {
    display: none;
  }
  .change-theme {
    position: initial;
  }
  .home__container {
    padding: 6rem 0 2rem;
  }
  .app__buttons {
    justify-content: initial;
  }
}

/* For large devices */
@media screen and (min-width: 968px) {
  .button__header {
    display: block;
  }
  .svg__img {
    width: 470px;
  }
  .about__container,
  .security__container,
  .app__container,
  .contact__container {
    column-gap: 6rem;
  }
  .services__container {
    grid-template-columns: repeat(3, 1fr);
  }
  .contact__container {
    grid-template-columns: 3fr 1.5fr 1.25fr;
  }
  .footer__container {
    grid-template-columns: repeat(5, 1fr);
  }
  .footer__social {
    align-items: flex-start;
  }
  .footer__social-link {
    font-size: 1.45rem;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }
  .home__img {
    width: 540px;
  }
  .home__description {
    padding-right: 5rem;
  }
  .footer__container {
    column-gap: 3rem;
  }
  .scrollup {
    right: 2rem;
  }
}
